[user]
  email = diraol@diraol.eng.br
  name = Diego Rabatone Oliveira
[github]
  user = diraol
[gitlab]
  user = diraol

################################################
[branch]
  autosetuprebase = always
  sort = -committerdate

[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[column]
        ui = auto

[commit]
  verbose = true

[core]
  whitespace = indent-with-non-tab
  excludesfile = ~/.gitignore
  editor = vim

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge --skip %f
  process = git-lfs filter-process --skip
  required = True

[help]
#  autocorrect = 20
  autocorrect = prompt

[init]
  defaultBranch = main

[merge]
  conflictstyle = zdiff3

[pull]
  rebase = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[rebase]
  autoStash = true
  updateRefs = true

[receive]
  denyNonFastForwards = true

[remote]
  pushdefault = origin

[rerere]
  enabled = true
  autoupdate = true

[status]
  submoduleSummary = true

[tag]
  sort = version:refname

[branch "master"]
  remote = upstream

[includeIf "gitdir:~/.vim/"]
  path = .diraol/gitconfig
[includeIf "gitdir:~/.dotfiles/"]
  path = .diraol/gitconfig
[includeIf "gitdir:~/dev/personal/"]
  path = .diraol/gitconfig
[includeIf "gitdir:~/dev/floss/"]
  path = .diraol/gitconfig
[includeIf "gitdir:~/dev/nu/"]
  path = /home/diegorabatone/.nugitconfig

[url "git@github.com:"]
  insteadOf = https://github.com/

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential]
	helper = cache

# [maintenance]
# 	repo = /home/diegorabatone/dev/nu/data-infra-opsgenie
# 	repo = /home/diegorabatone/dev/nu/talos
# 	repo = /home/diegorabatone/dev/nu/legolas
